*{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgoldenrodyellow;
}
.input1
{
    margin: 10px;
    border-style: dotted;
    border-radius: 10px;
}

.button1
{
    border-color: black;
    border-radius: 10px;
    color: red;
    margin-top: 20px;
    width: 120px;
    height: 40px;
}

.aco{
    background-color: lightcoral;
}